



    <mat-card>
        <form class="example-form" [formGroup]="register">
            <mat-form-field class="example-full-width">
              <mat-label>First Name</mat-label>
              <input type="text"formControlName="name" placeholder="First Name"matInput>
              <mat-error >This field is required </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input type="text"  formControlName="name"  placeholder="Last Name"matInput>
                <mat-error>This field is required </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Phone Number</mat-label>
                <input type="text" formControlName="no" placeholder="Phone Number"matInput>
                <mat-error>This field is required </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Employee Id</mat-label>
                <input type="text" formControlName='id' placeholder="Employee Id"matInput>
                <mat-error>This field is required </mat-error>
              </mat-form-field>

                <button mat-button type="submit" class="btn-submit" (click)="onSubmit()">Submit</button>
              

          </form>
    </mat-card>

